<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.umk.andx3"
          android:versionCode="2"
          android:versionName="1.0.2">

    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 广告 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 以下两个权限为可选项，用于支持特殊广告形式
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/> -->


    <application android:label="@string/app_name" android:icon="@drawable/ic_logo">

        <!--广告 -->
        <activity android:name="cn.waps.extend.AppWall" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="cn.waps.demo201.DemoApp"/>
        <meta-data android:name="WAPS_ID" android:value="4f550b656b2656f58cd4c0f53d080951"/>
        <meta-data android:name="WAPS_PID" android:value="default"/>
        <!--广告.end -->


        <activity android:name="com.umk.tiebashenqi.activity.WelcomeActivity_"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.umk.tiebashenqi.activity.MainActivity_"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing">
        </activity>

        <!--更多-->
        <activity
                android:name="com.umk.tiebashenqi.activity.more.AboutActivity_"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name="com.umk.tiebashenqi.activity.more.AboutInfoActivity_"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name="com.umk.tiebashenqi.activity.more.MoreActivity_"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name="com.umk.tiebashenqi.activity.more.GalleryActivity_"
                android:screenOrientation="portrait" >
        </activity>

        <!--更多.end-->



        <!--贴吧-->
        <activity
                android:name="com.umk.tiebashenqi.activity.tieba.TiebaActivity_"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name="com.umk.tiebashenqi.activity.tieba.TiebaTieziActivity_"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name="com.umk.tiebashenqi.activity.tieba.ImageViewActivity"
                android:screenOrientation="portrait" >
        </activity>
        <!--贴吧.end-->


        <!--Demo-->
        <activity android:name="com.umk.demo.activity.ExpandableListViewActivity"/>
        <activity android:name="com.umk.demo.activity.SwipeListViewActivity"/>
        <!--Demo.end-->
    </application>
</manifest>
